$white: #fff;
$blue: #296c82;
$light-blue: #f1f9fb;
$dark-blue: #e3f4f8;
$text-color: #434343;
$grey: #8c8c8c;
$shadow: rgba(0, 0, 0, 0.1);
$dark-shadow: rgba(0, 0, 0, 0.5);
$green: #49f050;
$yellow: #efcf24;
$red: #dc1c1c;

$laptor: 1024px;
$tablet: 768px;
$tablet-mini: 560px;
